* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .max-width {
  max-width: 1440px;
  padding:0;
  margin: 0;
  }
  /*section {
    padding: 20px 0;
  }*/
  .navbar {
    overflow: hidden;
    line-height:20px;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.5s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .logo a {
    position: relative;
    left:20px;
    font-size:12px;
    font-weight:400;
    color: #fff;
    transition: color 0.5s ease;
    font-family:Arial;
  }
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .menu li {
    position: relative;
    left: 16px;
    list-style: none;
    display: inline-block;
  }
  .navbar .menu li a {
    display: block;
    color: #f5f3f3;
    font-size: 12px;
    font-weight: 500;
    margin-right:5px;
    padding-right:30px;
    transition: color 0.3s ease;
    font-family:Arial;
  }
  input {
    padding:5px;
    margin-right: 80px;
  }
  button i {
    font-size: 12px; /* Adjust this value based on the size of your search icon */
    color:black; /* Adjust the color of the search icon */
    position: relative;
    right: 100px;
  }
  button{
  background: transparent;
  border: none;
  }
  .navbar .menu li a:hover,
  .navbar .logo a:hover {
    text-decoration: underline red 2px;
  }
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  .home {
    background-size: cover;
    height:1vh;
    /*position: relative;*/
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-attachment: fixed;
    min-height: 350px;
    font-family: 'Rubik', sans-serif;
  }
  .home .home-content .photos{
    width: 100%;
  }
  .home .home-content .photos img{
    width: 100%;
    position: relative;
    top:30px;
  }
  .layer {
    width:100%;
    height:40%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #000);
    position: absolute;
    left: 0;
    top:30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
  }
  .layer h3{
    color: #fff;
    font-size: 25px;
    position: relative;
    bottom: 0px;
    font-family: Arial;
    text-align: center;
  }
  .layer p{
    color: #fff;
    position: relative;
    bottom: 0px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 10px;
    font-family: Arial;
  }
  .butt .butt-content{
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    font-family:Arial; 
    width: 100%;
  }
  .butt .butt-content a{
    display: inline-flex;
    justify-content:center;
    text-align: center;
    margin-inline:10px;
    align-items: center;
    background:transparent;
    color:red;
    font-size: 11px;
    white-space: nowrap;
    padding: 11px 20px;
    border-radius: 4px;
    height: 38px;
    border: 1px solid grey;
    transition: all 0.3s ease;
    font-family: Arial;
    position: relative;
    left:5px;
    bottom: 55px;
    font-weight:700;
  }
  .butt .butt-content a:hover{
    background: red;
    color: white;
    font-size: 9px;
  }

  .coke .coke-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family:Arial;
    width: 100%;
  }
  .coke .coke-content .column{
    width: 100%;
  }
  .coke .coke-content .left {
    width: 45%;
    margin-left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .coke .coke-content .right2 {
    width: 40%;
    margin-left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .coke .coke-content .right4 {
    width: 40%;
    margin-left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .coke .coke-content .right2 .two{
    width: 40%;
    height: 180px;
    border: 2px solid red;
    padding: 50px;
    border-radius:4px;
    position: relative;
    left:0px;
    bottom:0px;
  }
  .coke .coke-content .right4 .three{
    width: 40%;
    height: 180px;
    border: 2px solid red;
    padding: 50px;
    border-radius:4px;
    position: relative;
    left:0px;
    bottom:0px;
  }
  .coke .coke-content .right4 .three .sec img{
    position: relative;
    right:100px;
    bottom:340px;
    z-index:1;
    width: 210px;
  }
  .coke .coke-content  .right2 .two img{
    width: 200px;
    position: relative;
    right:90px;
    bottom: 100px;
    z-index:1;
  }
  .coke .coke-content  .right4 .three img{
    width: 155px;
    position: relative;
    right:70px;
    bottom: 120px;
    z-index:100;
  }
  .coke .coke-content .right {
    margin-top: 50px;
    width: 45%;
    margin-right:50px;
    margin-top: 60px;
  }
  .coke .coke-content .left2 {
    margin-top: 50px;
    width: 45%;
    margin-left:110px;
    margin-top: 60px;
  }
  .coke .coke-content .left4 {
    margin-top: 50px;
    width: 45%;
    margin-left:110px;
    margin-top: 60px;
  }
  .coke .coke-content .right .title{
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 20px;
  }
  .coke .coke-content .right2 .title{
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 20px;
  }
  .coke .coke-content .right4 .title{
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 20px;
  }
  .coke .coke-content .left .title{
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 20px;
  }
  .coke .coke-content .left2 .title{
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 20px;
  }
  .coke .coke-content .left2 .title2{
    color: red;
    font-size: 15px;
    font-family: Arial;
    top: 30px;
    position: relative;
  }
  .coke .coke-content .left4 .title2{
    color:red ;
    font-size: 15px;
    font-family: Arial;
    top: 30px;
    position: relative;
  }
  .coke .coke-content .left .title2{
    color:red ;
    font-size: 15px;
    font-family: Arial;
    top: 30px;
    position: relative;
  }
  .coke .coke-content .right .title2{
    color:red ;
    font-size: 15px;
    font-family: Arial;
    top: 30px;
    position: relative;
  }
  .coke .coke-content .left .one{
    width: 30%;
    height: 180px;
    border: 2px solid red;
    padding: 50px;
    border-radius:4px;
    position: relative;
    left:80px;
    bottom:30px;
  }
  .coke .coke-content .left .for{
    width: 30%;
    height: 180px;
    border: 2px solid red;
    padding: 50px;
    border-radius:4px;
    position: relative;
    left:80px;
    bottom:30px;
  }
  .coke .coke-content  .left .for img{
    width: 200px;
    position: relative;
    right:120px;
    bottom: 100px;
    z-index:1;
  }
  .coke .coke-content .right .two{
    width: 42%;
    height: 180px;
    border: 2px solid red;
    padding: 50px;
    border-radius:4px;
    position: relative;
    left:80px;
    bottom:30px;
  }
  .coke .coke-content  .left .one img{
    width: 200px;
    position: relative;
    right:120px;
    bottom: 100px;
    z-index:1;
  }
  
 .nutrition{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:none;
    grid-auto-flow: column dense;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . .";
      width:400px;
      height: 300px;
      position: relative;
      left: 0px;
      top: 30px;
      white-space: nowrap;
  }
  .nut1, .nut2, .nut3, .nut4, .nut5, .nut6, .nut7, .nut8, .nut9, .nut10, .nut11, .nut12, .nut13, .nut14,.nut15, .nut16, .nut17, .nut18, .nut19, .nut20{
    position: relative;
    margin-top:25px;
    justify-content: space-evenly;
    

  }
  .nut1 .text, .nut2 .text, .nut3 .text, .nut4 .text, .nut5 .text, .nut6 .text{
    position: relative;
    left: 30px;
  }
  .nut3 .text .j{
    position: relative;
    top: 50px;
    color: red;
  }
  .nut13 .text, .nut14 .text, .nut15 .text, .nut16 .text, .nut17 .text, .nut18 .text{
    position: relative;
    right: 30px;
  }
  .nut1, .nut2, .nut13, .nut14{
    font-weight: 600;
    display: block;
  }
  .nut9, .nut10, .nut11, .nut12{
    text-align: center;
  }
  .nut13, .nut14,.nut15, .nut16, .nut17, .nut18, .nut19, .nut20{
    text-align: right;
  }
  .rem img{
    width: 69px;
    position: relative;
    left: 96%;
  }
  .rim img{
    width: 69px;
    position: relative;
  right:21%;
  bottom:115px;
  }
  .rom img{
    width: 69px;
    position: relative;
    left: 96%;
  }
  .ram img{
    width: 69px;
    position: relative;
  right:21%;
  bottom:115px;
  }
  .rum img{
    width: 69px;
    position: relative;
    left: 96%;
  }
  .title span{
    display: inline-block;
    margin-left:0px;
    width: 100%;
    margin-bottom:10px;
    color: rgba(236, 27, 22, 0.09);
    font-size: 80px;
    font-family: arial;
    position: relative;
    right: 60px;
    top: 80px;
    font-weight:700;
  }
  .nut{
    border:none;
    border-bottom: 1px solid black;
  }
  .nut6, .nut12, .nut18{
    border-bottom: none;
  }
  
  .explore {
    margin-top: 40px;
    background-image: url("Rectangle 22.png");
    border-top: 1px solid #000;
  }
  .explore .explore-content{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family:Arial; 
    width: 100%;
  }
  .explore .explore-content .atlas img{
    width: 100%;
  }
  .explore .title {
    position: relative;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family:Arial;
    justify-content: center;
    font-size: 13px;
  }
  .explore .explore-content .countries{
    list-style: none;
    display: flex;
    width:90%;
    position: relative;
    left:80px;
    gap:3.4%;
    margin-top: 30px;
  }
  .countries ul{
    list-style: none;
    text-align: center;
  }
  .countries ul li {
    margin-top: 0;
    color:black;
  }
  
  .countries ul li a {
    text-decoration: none;
    color:black;
    display: block;
    margin-bottom:15px;
    font-weight: 700;
  }
  .countries ul li a:hover{
    text-decoration: underline red 1px;
  }
  .countries ul li:hover {
    text-decoration: underline red 1px;
  }
  
  .touch .touch-content{
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    font-family:Arial; 
    width: 90vw;
  }
  .touch .touch-content .img{
    width: 100%;
    height: 100%;
    margin-left:60px;
  }
  .touch .touch-content .img img{
    border-radius: 10px;
    width: 100%;
    height: 200px;
  }
  .due {
    height:200px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #040505);
    border-radius: 10px;
    position:relative;
    left: 0;
    bottom:205px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
  }
  .due h3,p{
    font-size: 15px;
    color: white;
    margin-bottom: 60px;
  }
  
   .img a{
    display: inline-flex;
    justify-content:center;
    text-align: center;
    margin-inline: 20px;
    align-items: center;
    background:red;
    color: white;
    font-size: 12px;
    padding: 12px 20px;
    border-radius: 4px;
    height: 38px;
    width:110px;
    border: 1.5px solid red;
    transition: all 0.3s ease;
    font-family: Arial;
  }
  .img a:hover{
    background: transparent;
    color: red;
  }
  footer {
    font-family:Arial;
    width: 100%;
    display: block;
    background:black;
    color: #fff;
    padding: 20px 20px;
    justify-content: space-between;
  }
  footer .column{
    width: 100%;
    display: block;
  }
  footer .left {
    position: relative;
    left: 15px;
    top: 20px;
    width:30%;
    height:40%;
    display:inline-block;
    justify-content: center;
    align-items: center;
    
  }
  footer .left span{
    font-size:23px;
    font-family:Arial ;
    position: relative;
    top:15px;
    
  }
  footer .left p{
    margin-top: 35px;
    font-size: 12px;
    width: 100%;
    position: relative;
    top: 30px;
  }
  footer .right {
    position: relative;
    left: 20px;
    top: 25px;
    width: 30%;
    display:block;
    float:right;
  }
  footer .right .title {
    font-size: 15px;
  }
  footer .right .title:hover{
    text-decoration: underline red;
  }
  footer .right .icons{
    margin-top: 35px;
    display: flex;
    gap: 5%;
    color: black;
    font-size: 50px;
    border-radius: 50px;
    width: 100%;
  }
  footer .right .oone{
    border: 1px solid transparent;
    background: grey;
    border-radius: 100%;
  }
  footer .right .twoo{
    border: 1px solid transparent;
    background: grey;
    border-radius: 100%;
  }
  footer .right .tree{
    border: 1px solid transparent;
    background: grey;
    border-radius: 50%;
  }